*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
   
}



.container {
   
    max-width: 900px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    transition: all 1s ease;
    margin: 10px;
    text-align: center;
    background-color: #27252497;

}

.container-childs {
    width: 100%;
    padding: 0 30px;
}

.container-childs h1 {
    color: #ffff;
    font-weight: 700;
}

.container-childs img {
    width: 400px;
    padding: 10px;
    
}

.container-childs p {
    color: #a7a7a7 ;
    font-weight: 500;
    padding: 15px;
    font-size: 14px;
    padding: 2px;
}